.App {
  text-align: center;
  margin: 0;
}

.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: aliceblue;
  padding: 20px;
}

.header a{
  margin-right: 20px;
}

.register{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.input-field-container{
  display: flex;
  align-items: center;
  gap: 20px;
}

button{
  margin: 10px;
  padding: 8px 16px 8px 16px;
  background-color:#007BFF;
  color: white;
  border: 1px solid;
  border-radius: 10px;
  cursor: pointer;
}

ul{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-grow: 0;
  flex-shrink: 1;
}

li {
  list-style-type: none;
  margin: 20px;
  border: solid 1px #ccc;
  padding: 20px;
  width: 230px;
  max-height: 440px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

li:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  background-color: #ccc;
}

/* Basic Input Styling */
input {
  box-sizing: border-box;
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

/* Input Focus Styling */
input:focus {
  border-color: #007bff; /* Change the color to your preference */
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.6); /* Optional: Add a subtle box-shadow on focus */
}

/* Optional: Placeholder Styling */
input::placeholder {
  color: #aaa;
}

/* Optional: Disabled Input Styling */
input:disabled {
  background-color: #eee;
  cursor: not-allowed;
}



img{
  width: 200px;
  height: 230px;
}

.card{
  cursor: pointer;
}

.login{
  background-image: url("https://images.unsplash.com/photo-1497864149936-d3163f0c0f4b?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8bG9naW58ZW58MHx8MHx8fDA%3D");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}